html {
    background-color: black;
}

body {
    margin: 0;
    padding-top: 3em;
    padding-left: 5%;
}

h1, h2, h3, h4, p {
    font-family:'Heebo', sans-serif;
    color: white;
    text-transform: lowercase;
    margin: 0;
    background: transparent;
}

a {
    color: red;
    font-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    letter-spacing: 1px;
    font-size: 3em;
}

h2 {
    letter-spacing: 1px;
    font-size: 2em;
}
