{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<h1 class="pb5">
    Blog
</h1>
<ul>
    {%- if site.posts.size > 0 -%}
        {%- for post in site.posts -%}
            {%- if post.categories contains "blog" -%}
                <li>
                    <a href="{{ post.url | relative_url }}">
                        <h3>
                            {{ post.title | escape }}
                        </h3>
                    </a>
                    <em class="thin-text">{{ post.date | date: date_format }}</em>
                    <!-- <p>{{ post.post_description }}</p> -->
                </li>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
</ul>
  
