{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<h1>recent blog posts</h1>
{%- if site.posts.size > 0 -%}
    {%- for post in site.posts limit:3 -%}
        <ul>
            <li>
                <h2>
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h2>
                <em class="thin-text">{{ post.date | date: date_format }}</em>
                <p>{{ post.post_description }}</p>
            </li>
        </ul>
    {%- endfor -%}
{%- endif -%}