<h2 class="nowrap" >Blog</h2>
<em class="light-text">&nbsp;&nbsp;long-form ideas</em>

<ul class="posts blog spaced">
    {%- if site.posts.size > 0 -%}
        {%- for post in site.posts -%}
            {%- if post.categories contains "blog" -%}
                <li>
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{ post.content | remove: '<p>' | remove: '</p>' }}
                    <span class="light-text">
                        &gt;
                        <em>{{ post.date | date: date_format }}</em>
                    </span>
                </li>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
</ul>
