{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<h1 class="center-text nowrap pb20" >
    Bulletin Board
</h1>

<ul>
    {%- if site.posts.size > 0 -%}
        {%- for post in site.posts -%}
           {%- if post.categories contains "bulletins" -%}
                <li class="bulletin" itemscope itemtype="http://schema.org/BlogPosting">

                    <h1 itemprop="name headline">{{ page.titls | escpae }}</h1>

                    <a href="{{ post.url | relative_url }}">
                        <time class="thin-text" datetime="{{ page.date | date_to_xmlschema }}" itemprops="datePublished">
                            <em>
                                {{ post.date | date: date_format }}
                            </em>
                        </time>
                    </a>
 
                   {{ post.content }}

                </li>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
</ul>
