<footer class="footerContainer">
    <div class="footer">
        <ul>
            {%- if site.twitter -%}
                <li>
                    <a name="twitter" href="https://twitter.com/{{ site.twitter }}" rel="noopener noreferrer">twitter</a>
                </li>
            {%- endif -%}
            {%- if site.github -%}
                <li>
                    <a name="github" href="https://github.com/{{ site.github }}" rel="noopener noreferrer">github</a>
                </li>
            {%- endif -%}
            {%- if site.linkedin -%}
                <li>
                    <a name="linkedin" href="https://linkedin.com/in/{{ site.linkedin }}" rel="noopener noreferrer">linkedin</a>
                </li>
            {%- endif -%}
            {%- if site.email -%}
                <li>
                    <a name="email" href="mailto:{{ site.email }}" rel="noopener noreferrer">email</a>
                </li>
            {%- endif -%}
            <li>
                <a name="rss" href="/feed.xml" rel="noopener noreferrer">rss</a>
            </li>
            <li>
            	© 2016 - 2022
            </li>
        </ul>
    </div>
</footer>
