.summary {
	padding: 6px 0px 6px 0px;
	margin: 6px;
}
.writing-summary-title {
	font-weight: 500;
	font-size: 1.2em;
}
.writing-summary-date {
	font-weight: 300;
}
.writing-subheading {
	font-size: 1.2em;
}
.writing-date {
	text-align: center;
}
.writing-caption {
	text-align: center;
	display: block;
	margin-bottom: 10px;
}
.writing-content {
	text-align: justify;
	letter-spacing: .9px;
}
.blog li {
	margin-bottom: var(--xxs);
}
.blog-short {
	padding-left: var(--xl);
	padding-right: var(--xl);
}
