/* bulletins */
.bulletins {
    color: var(--bulletin-text-color);
	background-color: #ad9473;
	margin: 8px auto 20px auto ;
	padding: 10px;
	width: 94%;
	box-shadow: 8px 8px #917b6035;
    span {
        opacity: 49%;
    }
    li {
        margin-left: 20px;
        padding-bottom: 2px;

    }
    a {
        text-decoration: underline;
        color: var(--bulletin-text-color);
        &:hover {
            color: var(--link-color);
            text-decoration: underline;
        }
    }
    .no-underline {
        opacity: 80%;
        &:hover {
            color: var(--link-color);
            text-decoration: underline !important;
        }
    }
    
}

.no-underline {
    text-decoration: none !important;
}

.bulletin {
	background-color: #ad9473;
	margin: 8px auto 20px auto ;
	padding: 10px;
	width: 60%;
	box-shadow: 8px 8px #917b6035;
    color: var(--bulletin-text-color);
    a {
        color: var(--bulletin-text-color);
    }
    h1, time {
        line-height: 1.69em;
    }
    h1 {
        text-transform: capitalize;
        text-align: center;
    }
    time {
        opacity: 80%;
        &:hover {
            color: blue;
            text-decoration: underline;
        }
    }
    p {
        a {
            text-decoration: underline;
            &:hover {
                color: var(--link-color);
            }
        }
    }
}

