/* booklist */
.book {
	width: 200px;
	padding: 0px 20px 10px 20px;
}
/* photolist */
.photo {
	max-height: 579px;
	width: auto;
}

.photo-list {
	list-style-type: none;
}
.photo-list li {
	text-align: center;
	padding: 15px 0px 15px 0px;
}
