.img-tall {
	max-height: 525px;
	display: block;
	// margin-left: auto;
	// margin-right: auto;
	width: auto;
	max-width: 100%;
}
.img-wide {
	max-width: 100%;
	display: block;
	// margin-left: auto;
	// margin-right: auto;
	max-height: 469px;
}
.img-med-responsive {
	max-width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.img-small {
	width: 200px;
	height: 200px;
	margin: var(--md);
}
