@media (max-width: 869px) {
	:root {
		--main-width: 784px;
	}
    .main {
		padding: 0px 16px;
	}
	.container {
		display: block;
	}
	.home-main-image {
		margin: 20px 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-height: 369px;
		width: auto;
	}
	.photo {
		max-width: 100%;
	}
}
