@font-face { 
	font-family: Heebo;
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/Heebo-Regular.ttf');
	font-display: swap;
} 
@font-face { 
	font-family: STIX Two Math;
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/STIXTwoMath-Regular.ttf');
	font-display: swap;
}

:root {
	--navbar-background: #eee;
	--main-text-color: black;
	--bulletin-text-color: white;
	--link-color: blue;
	--link-hover-color: salmon;
	--navbar-text: black;
	--lr-padding: 6px;
	--tb-padding: 1px;
	--wide-padding: 16px;
	--nav-width: 51em; /* 1140px */
	--main-width: 49em;
	--head-height: 49px;
	--foot-height: 210px;
}
html {
	min-height: 100%;
	
}
* {
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5 {
	font-family: 'Heebo', sans-serif;
}
h1, h2 {
	margin-bottom: .5em;
}
p {
	font-family: 'STIX Two Math', serif;
	margin-bottom: .5em;
}
a {
	text-decoration: none;
}
strong {
	font-weight: 600;
}
.discrete {
    color: var(--main-text-color) !important;
    text-decoration: none !important;
}
.highlightText {
	background-color: black;
	color: white;
	font-size: 1.2em;
	font-weight: 300;
	padding: 8px;
	box-shadow: 8px 8px #917b6035;
}
.main {
	max-width: var(--main-width);
	background-color: transparent;
	padding: 24px 16px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.img-tall {
	max-height: 525px;
	display: block;
	// margin-left: auto;
	// margin-right: auto;
	width: auto;
	max-width: 100%;
	padding-bottom: 20px;
}
.img-wide {
	max-width: 100%;
	display: block;
	// margin-left: auto;
	// margin-right: auto;
	max-height: 469px;
	padding-bottom: 20px;
}
.img-small {
	width: 200px;
	height: 200px;
}
