@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/inconsolata/static/Inconsolata-Light.ttf') format('truetype')
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/inconsolata/static/Inconsolata-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/inconsolata/static/Inconsolata-Medium.ttf') format('truetype')
}

:root {
	--background-color: #0d0d0d;
	--navbar-background: var(--background-color);
	--primary-color: #fff;
	--secondary-color: #D9AEFD;
	--tertiary-color: #333;
	--navbar-text: var(--secondary-color);
	--bulletin-text-color: var(--primary-color);
	--link-color: var(--secondary-color);
	--link-hover-color: salmon;
	--lr-padding: 6px;
	--tb-padding: 1px;
	--side-padding: 24px;
	--vert-padding: 20px;
	--nav-width: 47em;
	--main-width: 45em;
	--head-height: 49px;
	--foot-height: 210px;
	--xxl: 32px;
	--xl: 28px;
	--lg: 24px;
	--md: 20px;
	--sm: 16px;
	--xs: 12px;
	--xxs: 8px;
	--xxxs: 4px;
	--def-font-size: 1.15em;
}
html {
	min-height: 100%;
}
* {
	margin: 0px;
	padding: 0px;
	background-color: var(--background-color);
	color: var(--primary-color);
	font-family: 'Inconsolata', monospace;
}
h1 {
	font-size: 2em;
	padding-bottom: var(--sm);
}
h2 {
	padding-top: var(--xs);
	padding-bottom: var(--xxs);
}
h3 {
	font-size: 1.3em;
	padding-bottom: var(--xxs);
}
h4 {
	font-size: 1.2em;
	padding-bottom: var(--xxs);
}
h1, h2, h3, h4, h5 {
	color: var(--secondary-color);
}
a {
	text-decoration: none;
	color: var(--secondary-color);
}
p {
	font-size: var(--def-font-size);
}

strong {
	font-weight: 600;
}
.discrete {
    color: var(--primary-color) !important;
    text-decoration: none !important;
}
.highlightText {
	background-color: var(--secondary-color);
	color: white;
	font-size: vat(--def-font-size);
	font-weight: 300;
	padding: 8px;
	box-shadow: 8px 8px #917b6035;
}
.main {
	max-width: var(--main-width);
	margin: 0px var(--side-padding);
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: var(--xl);
}
