/* headbar, footbar */
nav a :hover, nav a:hover {
	color: var(--link-color) !important;
}
.headbar, .footbar {
	max-width: var(--nav-width);
	margin-left: auto;
	margin-right: auto;
}
.headbarContainer, .footbarContainer {
	background-color: var(--navbar-background);
}
.headbar a, .footbar a{
	color: var(--navbar-text);
	text-decoration: none;
}
.headbar a:visited, .footbar a:visited {
	color: var(--navbar-text);
}
.headbarActive {
	font-weight: 600;
}
.headbar ul, .footbar ul {
  list-style-type: none;
	overflow: hidden;
}
/* headbar */
.headbarContainer {
	height: var(--head-height);
}
.headbar {
	height: var(--head-height);
}
.short-head { 
	display: none;
}
.headbar h1, .headbar span {
	font-weight: 400;
	font-size: 1.5em;
	margin-top: 9px;
	color: var(--navbar-text);
	padding-left: var(--wide-padding);
}
.headbar ul {
	margin-top: 16px;
	padding-right: 10px;
}
.headbar li {
	display: inline;
	text-align: center;
  	padding-left: var(--lr-padding);
	padding-right: var(--lr-padding);
}
/* footbar */
.footbarContainer {
	height: var(--foot-height);
}
.footbar ul {
	margin-top: 30px;
	line-height: 20px;
	padding-left: var(--wide-padding);
	padding-right: var(--wide-padding);
}
.footbar li {
	padding-top: var(--tb-padding);
	padding-bottom: var(--tb-padding);
}



.site-title {
    padding-top: 01px;
    display: block;
}