/* header, footer */
.headerContainer, .footerContainer {
	background-color: var(--navbar-background);
}
.header, .footer {
	max-width: var(--nav-width);
	margin-left: auto;
	margin-right: auto;
	a {
		color: var(--main-text-color);
	}
	a:visited {
		color: var(--main-text-color);
	}
	a:hover {
		color: var(--main-text-color);
	}
	a:active {
		color: var(--main-text-color);
	}
}
.header ul, .footer ul {
	list-style-type: none;
	overflow: hidden;
}
/* header */
.headerContainer {
	height: var(--head-height);
}
.header {
	height: var(--head-height);
}
.short-head { 
	display: none;
}
.header h1, .header span {
	font-weight: 400;
	font-size: 1.5em;
	margin-top: 9px;
	padding-left: var(--wide-padding);
}
.header ul {
	margin-top: 16px;
	padding-right: 10px;
}
.header li {
	display: inline;
	text-align: center;
	padding: 0px 6px;
}
/* footer */
.footer ul {
	padding: 24px var(--wide-padding);
	margin: 0;
}
.site-title {
    display: block;
}
