.main-top-text {
	padding-top: 3px;
	padding-bottom: 25px;
}
.writing-mtt {
	padding-bottom: 8px !important;
}

/* main */
.home-main-image {
	width: auto;
	max-height: 369px;
	margin-left: 40px;
}
.about-main-image {
	width: 96%;
	max-height: 500px;
}
.image-portrait-left {
	max-height: 525px;
	width: auto;
	max-width: 100%;
	padding-bottom: 20px;
}
.text-image-portrait {
	max-height: 525px;
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: auto;
	max-width: 100%;
	padding-bottom: 20px;
}
.text-image-landscape {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 469px;
	padding-bottom: 20px;
}