/* utilities */
.left {
	float: left;
}
.right {
	float: right;
}
.nowrap {
	display: inline;
}
.center {
	text-align: center;
}
.center-text {
	display: block;
	text-align: center;
}
.bottom-margin {
	margin-bottom: 40px;
}
.bottom-padding {
	padding-bottom: 8px;
}
.four-oh-four {
	height: 500px;
}
.same-line {
    display: flex;
}
