/* utilities */
.left {
	float: left;
}
.right {
	float: right;
}
.nowrap {
	display: inline;
}
.center {
	text-align: center;
}
.center-text {
	display: block;
	text-align: center;
}
.bottom-margin {
	margin-bottom: 40px;
}
.bottom-padding {
	padding-bottom: 8px;
}
.four-oh-four {
	height: 500px;
}

/* flex box */
.flex {
	display: flex;
}
.push-right {
	margin-left: auto;
	float: right;
}

/* padding */
.plg {
	padding: var(--lg);
}
.tplg {
	padding-top: var(--lg);
}
.rplg {
	padding-right: var(--lg);
}
.bplg {
	padding-bottom: var(--lg);
}
.lplg {
	padding-left: var(--lg);
}
.pmd {
	padding: var(--md);
}
.tpmd {
	padding-top: var(--md);
}
.rpmd {
	padding-right: var(--md);
}
.bpmd {
	padding-bottom: var(--md);
}
.lpmd {
	padding-left: var(--md);
}
/* drop shadow */
.ds {
	filter: drop-shadow(var(--xs) var(--xs) 0px var(--tertiary-color));
}
