/* header, footer */
.headerContainer, .footerContainer {
	background-color: var(--navbar-background);
}
.header, .footer {
	max-width: var(--nav-width);
	margin-left: auto;
	margin-right: auto;
	color: var(--secondary-color);
	padding-left: var(--side-padding);
	padding-right: var(--side-padding);
	a:visited {
		color: var(--secondary-color);
	}
	a:hover {
		color: var(--secondary-color);
	}
	a:active {
		color: var(--secondary-color);
	}
}
.header ul, .footer ul {
	list-style-type: none;
	overflow: hidden;
}
/* header */
.headerContainer {
	height: var(--head-height);
}
.header {
	height: var(--head-height);
	padding-top: var(--vert-padding);
}
.short-head { 
	display: none;
}
.header span {
	font-weight: 400;
	font-size: 1.6em;
}
.header ul {
	padding-top: 4px;
}
.header li {
	display: inline;
	text-align: center;
	padding: 0px 6px;
	font-size: 1.25em;
}
/* footer */
.footer ul {
	padding: var(--xxl) 0px;
	margin: 0;
}
.footer li {
	padding-top: var(--xxxs);
}
.site-title {
    display: block;
}
